/* z */
.text-z {
	color: #c00;
}
.btn-z {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(204, 0, 0) 0%, rgb(148, 0, 0) 100%) repeat scroll 0 0;
    border-color: #c50000;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.48);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    text-shadow: 2px -1px rgba(0, 0, 0, 0.62);
}
.btn-z:hover {
    /*animation: 0.3s ease 0s alternate none infinite running bounce;*/
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cc0000;
    color: #cc0000;
    text-shadow: 2px -1px rgba(0, 0, 0, 0);
}

/* general */
body {
	margin-top: 80px;
}
.btn-xl {
	border-radius: 0.3rem;
    font-size: 2rem;
    line-height: 1.75;
    padding: 0.5rem 1rem;
}
@media (max-width: 575px) {
	body {
		margin-top: 40px;
	}
}

/* header */
header {
	background-color: white;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
header nav.navbar  {
	padding-top: 0;
	padding-bottom: 0;
}
header nav.navbar .navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
header nav.navbar .navbar-brand img {
    height: 80px;
}
header nav.navbar .navbar-nav .nav-item {
    padding-left: 1em;
    padding-right: 1em;
}
header nav.navbar .navbar-nav .nav-item a.nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 300;
}
header nav.navbar .navbar-nav .nav-item a.nav-link:hover {
	color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 575px) {
	header nav.navbar .navbar-brand img {
	    height: 40px;
	}
}
@media (max-width: 991px) {
	header nav.navbar .navbar-nav {
		padding: 1em 0;
	}
	header nav.navbar .navbar-nav .nav-item {
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		text-align: center;
		padding: 0.5em 1em;
	}
	header nav.navbar .navbar-nav .nav-item-download {
		padding-top: 1em;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	header nav.navbar .navbar-nav .nav-item:not(.nav-item-download) i {
		display: none;
	}
}
@media (min-width: 992px) {
	header nav.navbar a.nav-link {
		position: relative;
		text-decoration: none;
	}
	header nav.navbar a.nav-link::after {
		border-bottom: 2px solid #c00;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		transition: all 0.5s ease 0s;
		width: 0;
	}
	header nav.navbar a.nav-link:hover::after {
		width: 100%;
	}
	header nav.navbar .navbar-nav .nav-item {
		border-left: 1px solid rgba(0, 0, 0, 0.3);
	}
}

/* hero */
#particles {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
#hero {
	background: #333;
	background: -webkit-radial-gradient(circle, #333, #111);
	background: -o-radial-gradient(circle, #333, #111);
	background: -moz-radial-gradient(circle, #333, #111);
	background: radial-gradient(circle, #333, #111);
	color: #fff;
	padding: 60px 0;	
	min-height: 800px;
}
#hero h1 {
	margin-top: 60px;
	margin-bottom: 40px;
}
#hero .hero-header .display-1 {
	font-size: 9rem;
	font-weight: 700;
}
#hero .hero-header {
	background-image: url('http://html-agility-pack.net/images/logo256X256 -opacity.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#hero .hero-header .download-count-text {
	color: #888;
	font-size: 1.2rem;
	margin-top: 30px;
}
#hero .hero-examples .row:first-child {
	padding-bottom: 30px;
}
#hero .hero-examples .hero-arrow img {
	width: 60px;
}
#hero .hero-examples .hero-arrow-ltr  {
	text-align: right;
}
#hero .hero-examples .hero-arrow-ltr  img {
	transform: scaleX(-1) rotate(180deg);
}
#hero .hero-examples .hero-arrow-rtl  img{
	transform: rotate(180deg);
}
@media (max-width: 991px) {
	#hero .hero-examples .hero-arrow {
		display: none;
	}
	#hero .hero-examples h5 {
		margin-bottom: 20px;
	}
	#hero .hero-examples .row:last-child {
		margin-top: 40px;
	}
}
@media (max-width: 575px) {
	#hero .hero-header .download-count img {
		width: 350px;
	}
}

/* keys */
#keys {
	background: -webkit-radial-gradient(circle, #eee, #ccc);
	background: -o-radial-gradient(circle, #eee, #ccc);
	background: -moz-radial-gradient(circle, #eee, #ccc);
	background: radial-gradient(circle, #eee, #ccc);
	padding: 60px 0;
}
#keys h2 {
	text-align: center;
	font-size: 4.5rem;
	line-height: 1.1;
}
#keys h3 {
	text-align: center;
	margin: 30px 0;
}
#keys .media {
	background-color: #f4f4f4;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.3);
	color: #000;
	padding: 10px;
	margin: 30px 0;
}
#keys .media i {
	align-self: center;
	font-size: 5rem;
	margin-left: 20px;
}
#keys .media .media-body {
	padding-left: 10px;
	text-align: center;
}
#keys .media .media-body h5 {
	font-size: 1.5rem;
	text-decoration: underline;
	margin-bottom: 20px;
}
#keys .media .media-body a {
    color: #c00;
}

/* features */
#features {
	padding: 60px 0;
}
#features h2 {
	text-align: center;
	font-size: 4rem;
	line-height: 1.1;
	margin-bottom: 30px;
}
#features .order-lg-2 {
	padding-left: 60px;
}
#features .card-code .card-header  {
	background-color: #333;
	color: #f2f2f2;
}
#features .card-code pre {
	color: #f2f2f2;
}
#features .card-code-light {
	background: -webkit-radial-gradient(circle, #333, #222, #111);
	background: -o-radial-gradient(circle, #333, #222, #111);
	background: -moz-radial-gradient(circle, #333, #222, #111);
	background: radial-gradient(circle, #333, #222, #111);
}
#features .more-tutorials {
	text-align: center;
}
#features .list-content li {
    background: rgba(0, 0, 0, 0) url("../images/features-checked.png") no-repeat scroll 0 center;
    line-height: 30px;
    list-style: outside none none;
    padding-left: 30px;
}
#features .list-content li a {
    color: #000;
    text-decoration: none;
}
@media (max-width: 991px) {
	#features .order-lg-2 {
		padding-left: 15px;
	}
	#features .col-lg-4 {
		margin: 60px 0;
	}
	#features .more-tutorials {
		text-align: left;
		margin-top: 60px;
		margin-bottom: 30px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#features .row {
		margin: 60px 0;
	}
}

/* features arrow */
#features .arrow {
	border-color: #999;
}
#features .arrow-cursor {
	color: #666;
	margin-bottom: 10px;
	position: relative;	
}
#features .arrow-cursor  i {
	transform: rotate(90deg);
}
#features .arrow-cursor-left {
	margin-left: 70px;
	top: -7px;
}
#features .arrow-cursor-right {
	margin-left: 928px;
	top: -7px;
}
#features .arrow-cursor-middle {
	margin-left: 550px;
	top: -7px;
}
#features .arrow-number {
	position: relative;
	top: -25px;
}
#features .arrow-number span {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(204, 0, 0) 0%, rgb(148, 0, 0) 100%) repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    height: 50px;
    padding: 10px;
	width: 50px;
	position: absolute;
    right: 47.8%;
	z-index: 1;
	text-align: center;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}
#features .arrow-start{
	text-align: center;
}
#features .arrow-start span{
	background: #9d0000 none repeat scroll 0 0;
	border-radius: 100%;
	right: 49%;
	display: inline-block;
}
#features .arrow-start-1 span {
	background-color: rgba(204, 0, 0, 0.2);
	height: 10px;
	width: 10px;
	line-height: 1px;
}
#features .arrow-start-2 span {
	background-color: rgba(204, 0, 0, 0.5);
	height: 15px;
	width: 15px;
	line-height: 17px;
}
#features .arrow-start-3 {
	margin-bottom: 25px;
}
#features .arrow-start-3 span {
	background-color: rgba(204, 0, 0, 0.8);
	height: 20px;
	width: 20px;
}
#features .arrow-middle-to-left-up {
	border-width: 0 2px 2px 0;
	border-style: dashed;
	border-bottom-right-radius: 50px;
	
	height: 100px; 
	margin-left: 505px;
	margin-right: 555px;
}
#features .arrow-middle-to-left-down {
	border-width: 2px 0px 0px 2px;
	border-style: dashed;
	border-top-left-radius: 50px;
	
	height: 100px; 
	margin-left: 75px;
	margin-right: 610px;
	
	position: relative;
	top: -2px;
}
#features .arrow-left-to-right-up {
	border-width: 0 0 2px 2px;
	border-style: dashed;
	border-bottom-left-radius: 50px;

	height: 100px; 
	margin-left: 75px;
	margin-right: 500px;
}
#features .arrow-left-to-right-down {
	border-width: 2px 2px 0 0;
	border-style: dashed;
	border-top-right-radius: 50px;
	
	height: 100px; 
	margin-left: 617px;
	margin-right: 175px;
		
	position: relative;
	top: -2px;

}
#features .arrow-right-to-left-up {
	border-width: 0 2px 2px 0;
	border-style: dashed;
	border-bottom-right-radius: 50px;
	
	height: 100px; 
	margin-left: 617px;
	margin-right: 175px;
}
#features .arrow-right-to-left-down {
	border-width: 2px 0 0 2px;
	border-style: dashed;
	border-top-left-radius: 50px;
	
	height: 100px; 
	margin-left: 75px;
	margin-right: 500px;
	
	position: relative;
	top: -2px;
}
#features .arrow-right-to-middle-up {
	border-width: 0 2px 2px 0;
	border-style: dashed;
	border-bottom-right-radius: 50px;
	
	height: 100px; 
	margin-left: 600px;
	margin-right: 175px;
}
#features .arrow-right-to-middle-down {
	border-width: 2px 0 0 2px;
	border-style: dashed;
	border-top-left-radius: 50px;
	
	height: 100px; 
	margin-left: 555px;
	margin-right: 505px;
	
	position: relative;
	top: -2px;
}
@media (max-width: 1199px) {
	#features .arrow {
		display: none;
	}
}

/* footer */
footer {
	background-color: #000;
	color: #fff;
	border-top: #c00 3px solid;
	/*box-shadow: 0 -3px 1px 0 #C00;*/
	padding-top: 6px;
	padding-bottom: 6px;
}
footer .btn-social {
    overflow: hidden;
    padding-left: 40px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 4px;
    padding-top: 4px;
}
footer .btn-social > *:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 0;
    font-size: 1.4em;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px;
}
footer .btn-facebook {

    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
footer .btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* card-code */
.card-code {
	border: 0;
	border-radius: 0;
}
.card-code .code-green {
	color: #008000;
}
.card-code-light {
	box-shadow: 10px 10px grey;
	background-color: rgba(255, 255, 255, 1);
	background: -webkit-radial-gradient(circle, #333, #222, #111);
	background: -o-radial-gradient(circle, #333, #222, #111);
	background: -moz-radial-gradient(circle, #333, #222, #111);
	background: radial-gradient(circle, #fff, #fff, #ccc);
}
.card-code-light .card-header {
	border: 0;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}
